dgfparser.log
poisson
poisson_Alberta_Pk_2d.vtu
poisson_yasp_Q1_2d.vtu
poisson_yasp_Q1_3d.vtu
poisson_yasp_Q2_2d.vtu
reentrantcorner
reentrantcorner_Alberta_Pk_2d.vtu
reentrantcorner_Alberta_Pk_2d_grid.vtu
thinterpolatemain
q1constrainedinterpolatemain
laplacedirichletmain
laplacedirichletccfv
q1interpolatemain
q1interpolationerrormain
q2interpolationerrormain
q1gridfunctionspacemain
